body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
  }
  
  .logo-container {
    width: 65%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .logo-container img {
    width: 100%;
    height: auto;
  }
  
  footer {
    color: #888;
  }
  
